*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.navegador{
    background-color: #b1081b;
    min-width: 100%;
    max-width: 100%;
    
    ul {
        list-style-type: none;
        text-align: center;

        li {
            display: inline;
            text-align: center;
            margin: 0 100px 0 0;
            
            a{
                padding: 2px 7px 2px 7px;
                color: #b1081b;
                background-color: #b1081b;
                text-decoration: none;
            }
        }
    }
}

h2 {
    color:white;
    background-color: #b1081b;
    display: inline;
}

h3 {
    font-size: 30px;
    color: #b1081b;
}

h5 {
    font-size: 30px;
}

p {
    color: rgb(0, 0, 0);
    font-family: 'Martel', serif;
}

.flexsearch--wrapper {
	height: auto;
	width: auto;
	max-width: 100%;
	overflow: hidden;
	background: transparent;
	margin: 0;
	position: static;
}
	
.flexsearch--form {
	overflow: hidden;
	position: relative;
}
	
.flexsearch--input-wrapper {
	padding: 0 66px 0 0; /* Right padding for submit button width */
	overflow: hidden;
}

.flexsearch--input {
  width: 100%;
}
.flexsearch {
    position: relative;
    width: 350px;
    left: 950px;
    bottom: 10px;
}
  
.flexsearch--input {
    -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
       height: 60px;
    padding: 0 46px 0 10px;
      border-color: #b1081b;
    border-radius: 35px; /* (height/2) + border-width */
    border-style: solid;
      border-width: 5px;
    margin-top: 15px;
    color: #333;
    font-family: 'Helvetica', sans-serif;
      font-size: 26px;
      -webkit-appearance: none;
      -moz-appearance: none;
}
      
.flexsearch--submit {
    position: absolute;
      right: 0;
      top: 0;
      display: block;
      width: 60px;
      height: 60px;
    padding: 0;
    border: none;
      margin-top: 20px; /* margin-top + border-width */
    margin-right: 5px; /* border-width */
      background: transparent;
    color: white;
    font-family: 'Helvetica', sans-serif;
    font-size: 40px;
    line-height: 60px;
}
  
.flexsearch--input:focus {
    outline: none;
    border-color: #333;
}
  
  .flexsearch--input:focus.flexsearch--submit {
       color: #333; 
}
  
  .flexsearch--submit:hover {
    color: #333;
    cursor: pointer;
}
  
  ::-webkit-input-placeholder {
      color: #888;  
}
  
  input:-moz-placeholder {
    color: #888
}

.encabezado-container {
    background-color: #b1081b;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#mapa {
    position: absolute;
    margin-left: 900px;
    top: 200px;
}

.formularioVenta { 
    height: 500px;
    padding-top: 100px;
    font-family: 'Epilogue', sans-serif;
    color: white;
}

.formularioContacto { 
    height: 500px;
    padding-top: 100px;
    padding-left: 50px;
    font-family: 'Epilogue', sans-serif;
    color: white;
    background-image: url(../img/transmit.png);
}

.logoPrueba { 
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 33px;
    font-weight: bold;
    position: absolute;
    margin-top: 0.8em;
    margin-bottom: 1em;
    margin-left: 1em;
}

.cuerpoVenta { 
    background-image: url(../img/transmit.png);
}

.blanco { 
    color: white;
}

section {
    display: grid;
   
    grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 5%;
  
    margin-right: auto;
    margin-left: auto;
}

#propiedades {
    max-width: 85%;

    div {
        border: solid 1px #b1081b;
        display: flex;
        flex-direction: column;

        span {
            flex-basis: 200px;
            max-height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                max-width: 100%;
                transition: transform 0.5s;
                cursor: pointer;

                :hover {
                    transform: scale(1.5);
                }
            }
        }

        h3 {
            text-align: center;
        }

        p {
            padding: 10px;
        }
    }
}

main {
    display: flex;
    border: dashed 2px #b1081b;
    flex-wrap: wrap;
    padding: 10px;
}

.box { 
    margin: 20px;
}

#tituloMov {
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}

.containter-textoNosotros{
    display: list-item;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
}

.textoNosotros{
    display: flex;
    text-justify: auto;
    width: 65%;
}

.tablaNosotros {
    margin-left: 250px;
    table-layout: fixed;
    border-collapse: collapse;
    border: 3px solid purple;
}

.mainAlquila {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
}

:root{
    --facebook: #3b5999;
    --instagram: #e4405f;
    --twitter: #55acee;
    --pinterest: #bd081c;
    --linkedin: #0077B5;
}

.redes-container {
    display: flex;
    padding: 0 700px;
    height: 25vh;
    align-items: center;
    justify-items: center;
    background-color: rgb(236, 226, 200);

    ul{
        :hover {
            a{
                filter: blur(2px);
            }
        }

        li{
            display: inline-block;
            margin: 0 5px;
            width: 50px;
            height: 50px;
            text-align: center;

            a {
                display: block;
                padding: 0 10px;
                background: #333;
                color: #fff;
                line-height: 50px;
                font-size: 18px;
                box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .2);
                transition: .2s;
            }

            :hover {
                transform: translateY(-3px) scale(1.05);
                box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .4);
                filter: none;
            }
        }
    }
}

.redes-container ul li .facebook:hover{
    background: var(--facebook);
}
  
.redes-container ul li .instagram:hover{
    background: var(--instagram);
}
  
.redes-container ul li .twitter:hover{
    background: var(--twitter);
}
  
.redes-container ul li .pinterest:hover{
    background: var(--pinterest);
}
  
.redes-container ul li .linkedin:hover{
    background: var(--linkedin);
}

.fieldset-contacto {
    display: flexbox;
    background-color: #b1081b;
    border-color: #b1081b;
    width: 500px;
}