<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="https://fonts.googleapis.com/css2?family=Martel&display=swap" rel="stylesheet">
        <link rel="icon" href="../img/favicon.ico" >
        <link href="https://fonts.googleapis.com/css2?family=Epilogue&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/34f7fdf2b8.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../css/style.css" />
        <title>Inmobiliaria Fattore | Vendé</title>
    </head>
    <body>
        <div class="encabezado-container">
            <a class="logoPrueba" href="../index.html">FATTORE INMOBILIARIA</a>

            <div class="flexsearch">
                <div class="flexsearch--wrapper">
                    <form class="flexsearch--form" action="#" method="post">
                        <div class="flexsearch--input-wrapper">
                            <input class="flexsearch--input" type="search" placeholder="Buscá">
                        </div>
                        <input class="flexsearch--submit" type="submit" value="&#10140;"/>
                    </form>
                </div>
            </div>
        </div>

        <nav class="navegador">
            <ul>
                <li><a href="nosotros.html"><h2>Nosotros</h2></a></li>
                <li><a href="compra.html"><h2>Comprá</h2></a></li>
                <li><a href="vende.html"><h2>Vendé</h2></a></li>
                <li><a href="alquila.html"><h2>Alquilá</h2></a></li>
                <li><a href="contacto.html"><h2>Contacto</h2></a></li>
            </ul>
        </nav>
        <h3 id="tituloMov">Comprá</h3>

        <section id="propiedades">
            <div>
                <span>
                <img src="../img/foto1.jpg" alt=""></span>
                <h3>Ubicación</h3>
                <p>Ambientes + precio</p>
            </div>
            <div>
                <span>
                <img src="../img/foto2.jpg" alt=""></span>
                <h3>Ubicación</h3>
                <p>Ambientes + precio</p>
            </div>
            <div>
                <span>
                <img src="../img/foto3.jpg" alt=""></span>
                <h3>Ubicación</h3>
                <p>Ambientes + precio</p>
            </div>
            <div>
                <span>
                <img src="../img/foto4.jpg" alt=""></span>
                <h3>Ubicación</h3>
                <p>Ambientes + precio</p>
            </div>
            <div>
                <span>
                <img src="../img/foto5.jpg" alt=""></span>
                <h3>Ubicación</h3>
                <p>Ambientes + precio</p>
            </div>
            <div>
                <span>
                <img src="../img/foto6.jpg" alt=""></span>
                <h3>Ubicación</h3>
                <p>Ambientes + precio</p>
            </div>
            <div>
                <span>
                <img src="../img/foto7.jpg" alt=""></span>
                <h3>Ubicación</h3>
                <p>Ambientes + precio</p>
            </div>
            <div>
                <span>
                <img src="../img/foto8.jpg" alt=""></span>
                <h3>Ubicación</h3>
                <p>Ambientes + precio</p>
            </div>
        </section>
    </br>
    </br>
    <div class="redes-container">
        <ul>
            <li><a href="https://www.facebook.com/" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://www.instagram.com/" class="instagram"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://twitter.com/" class="twitter"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://ar.pinterest.com/" class="pinterest"><i class="fab fa-pinterest-p"></i></a></li>
            <li><a href="https://ar.linkedin.com/" class="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
        </ul>
    </div>

    </body>
</html>