<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="https://fonts.googleapis.com/css2?family=Martel&display=swap" rel="stylesheet">
        <link rel="icon" href="../img/favicon.ico" >
        <link href="https://fonts.googleapis.com/css2?family=Epilogue&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/34f7fdf2b8.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../css/style.css" />
        <title>Inmobiliaria Fattore | Vendé</title>
    </head>
    <body>
        <div class="encabezado-container">
            <a class="logoPrueba" href="../index.html">FATTORE INMOBILIARIA</a>

            <div class="flexsearch">
                <div class="flexsearch--wrapper">
                    <form class="flexsearch--form" action="#" method="post">
                        <div class="flexsearch--input-wrapper">
                            <input class="flexsearch--input" type="search" placeholder="Buscá">
                        </div>
                        <input class="flexsearch--submit" type="submit" value="&#10140;"/>
                    </form>
                </div>
            </div>
        </div>

        <nav class="navegador">
            <ul>
                <li><a href="nosotros.html"><h2>Nosotros</h2></a></li>
                <li><a href="compra.html"><h2>Comprá</h2></a></li>
                <li><a href="vende.html"><h2>Vendé</h2></a></li>
                <li><a href="alquila.html"><h2>Alquilá</h2></a></li>
                <li><a href="contacto.html"><h2>Contacto</h2></a></li>
            </ul>
        </nav>
        
        <form class="formularioContacto">
        <fieldset class="fieldset-contacto">    
                <legend><h3 id="tituloMov"><h5>Contacto</h5></legend>
            <br>   
            <br>
            <br>
                <label for="nombre">Nombre completo</label>
                <input type="text" id="nombre" required/>
            <br />
            <br>
                <label for="correo">E-mail</label>
                <input type="email" id="correo" required />
            <br />
            <br>
                <label for="telefono">Teléfono</label>
                <input type="number" id="telefono" required />
            
            <br />
            <br>    
    
                <select name="Genero">
                    <option value="Hombre">Hombre</option>
                    <option value="Mujer">Mujer</option>
                    <option value="Otro">Otro</option>
                </select>
    
            <br />
            <br>
        
                <label for="asunto">Asunto</label>
                <input type="text" id="asunto" />
    
    
            <br />
            <br>
                <label for="mensaje">Mensaje</label>
                <textarea maxlength="500" id="mensaje" placeholder="Deje aquí su mensaje.."></textarea>
            <br />
            <br>    
                <label>Acepto subscribirme a Newsletter</label>
                <input type="checkbox" name="acepta" value="SI" required />
               
    
            <br />
            <br>
                <input type="submit"/>
                <input type="reset" value="Borrar todo"/>
        </fieldset>        
        </form>
        
        <div class="redes-container">
            <ul>
                <li><a href="https://www.facebook.com/" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://www.instagram.com/" class="instagram"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://twitter.com/" class="twitter"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://ar.pinterest.com/" class="pinterest"><i class="fab fa-pinterest-p"></i></a></li>
                <li><a href="https://ar.linkedin.com/" class="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
        </div>

    </body>
</html>