<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="https://fonts.googleapis.com/css2?family=Martel&display=swap" rel="stylesheet">
        <link rel="icon" href="../img/favicon.ico" >
        <link href="https://fonts.googleapis.com/css2?family=Epilogue&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/34f7fdf2b8.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../css/style.css" />
        <title>Inmobiliaria Fattore | Vendé</title>
    </head>
    <body>
        <div class="encabezado-container">
            <a class="logoPrueba" href="../index.html">FATTORE INMOBILIARIA</a>

            <div class="flexsearch">
                <div class="flexsearch--wrapper">
                    <form class="flexsearch--form" action="#" method="post">
                        <div class="flexsearch--input-wrapper">
                            <input class="flexsearch--input" type="search" placeholder="Buscá">
                        </div>
                        <input class="flexsearch--submit" type="submit" value="&#10140;"/>
                    </form>
                </div>
            </div>
        </div>

        <nav class="navegador">
            <ul>
                <li><a href="nosotros.html"><h2>Nosotros</h2></a></li>
                <li><a href="compra.html"><h2>Comprá</h2></a></li>
                <li><a href="vende.html"><h2>Vendé</h2></a></li>
                <li><a href="alquila.html"><h2>Alquilá</h2></a></li>
                <li><a href="contacto.html"><h2>Contacto</h2></a></li>
            </ul>
        </nav>
        <h3 id="tituloMov">Nosotros</h3>

    <div class="containter-textoNosotros">
        <div class=textoNosotros>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ipsum felis, dictum sit amet leo a, pellentesque efficitur felis. Praesent sit amet luctus quam, consequat tincidunt nibh. Donec mattis nisl quis risus ornare, eget ultricies libero commodo. Morbi feugiat leo leo. Integer facilisis cursus ultricies. Nulla facilisi. Proin suscipit finibus turpis, ac gravida ligula sollicitudin et.</p>
        </div>        
        <br>
        <div class=textoNosotros>    
        <p>Nunc sed dui nunc. Mauris posuere aliquet quam in rutrum. Nullam sodales enim sit amet enim commodo eleifend. Proin eu orci velit. Phasellus eu tristique quam. Sed eleifend, felis sodales aliquet pulvinar, sem tortor consectetur felis, nec bibendum urna elit non ipsum. Nulla placerat est eu luctus facilisis. Proin bibendum massa sem, ac egestas turpis cursus eget. Proin quis neque non lacus pretium mattis. Phasellus id massa pretium, dapibus turpis eu, consequat ex.</p>
        </div>    
        <br>
        <div class=textoNosotros>          
        <p>In aliquet elit nec pharetra mattis. Cras nibh neque, accumsan ut dui id, luctus hendrerit nibh. Vestibulum fringilla elementum magna non tincidunt. Duis pellentesque, lectus eu imperdiet molestie, ipsum neque feugiat erat, non consequat metus mi vel ante. Aenean lacinia neque quis magna pellentesque vestibulum. Praesent risus eros, sollicitudin vitae venenatis at, varius in ante. Nulla porttitor urna eget ante eleifend molestie. Curabitur dignissim maximus erat et vehicula. Suspendisse convallis eu purus ut vestibulum. Aenean at augue vestibulum, vehicula nisl sed, pellentesque purus. Praesent posuere ipsum id hendrerit accumsan. Sed non urna nec turpis mollis tempor ut sit amet ante. Sed rutrum quam fermentum, dictum neque in, luctus purus. Nunc eleifend eleifend mollis. Sed nulla metus, iaculis venenatis interdum quis, hendrerit quis tortor.</p>
        </div>
    </div>
        <table class="tablaNosotros">
            
            <tr>
                <th></th>
                <th>Tiempos de venta</th>
                <th>Comisión</th>
                <th>Ventajas</th>
            </tr>
            <tr>
                <th>Inmobiliaria Fattore</th>
                <td><p align="center">Menor a 1 mes</p></td>
                <td>9%</td>
                <td>
                    <ul>
                        <li>Atención Personalizada</li>
                        <li>Claridad y Transparencia</li>
                        <li>Mejores Precios</li>
                        <li>Responsabilidad</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Competencia</th>
                <td>Mayor a 1 mes</td>
                <td>10%</td>
                <td>Ninguna</td>
            </tr>
           
        </table>

        <div class="redes-container">
            <ul>
                <li><a href="https://www.facebook.com/" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://www.instagram.com/" class="instagram"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://twitter.com/" class="twitter"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://ar.pinterest.com/" class="pinterest"><i class="fab fa-pinterest-p"></i></a></li>
                <li><a href="https://ar.linkedin.com/" class="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
        </div>

    </body>
</html>