<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="https://fonts.googleapis.com/css2?family=Martel&display=swap" rel="stylesheet">
        <link rel="icon" href="../img/favicon.ico" >
        <link href="https://fonts.googleapis.com/css2?family=Epilogue&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/34f7fdf2b8.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../css/style.css" />
        <title>Inmobiliaria Fattore | Vendé</title>
    </head>
    <body>
        <div class="encabezado-container">
            <a class="logoPrueba" href="../index.html">FATTORE INMOBILIARIA</a>

            <div class="flexsearch">
                <div class="flexsearch--wrapper">
                    <form class="flexsearch--form" action="#" method="post">
                        <div class="flexsearch--input-wrapper">
                            <input class="flexsearch--input" type="search" placeholder="Buscá">
                        </div>
                        <input class="flexsearch--submit" type="submit" value="&#10140;"/>
                    </form>
                </div>
            </div>
        </div>

        <nav class="navegador">
            <ul>
                <li><a href="nosotros.html"><h2>Nosotros</h2></a></li>
                <li><a href="compra.html"><h2>Comprá</h2></a></li>
                <li><a href="vende.html"><h2>Vendé</h2></a></li>
                <li><a href="alquila.html"><h2>Alquilá</h2></a></li>
                <li><a href="contacto.html"><h2>Contacto</h2></a></li>
            </ul>
        </nav>
        <div class="cuerpoVenta">
        <h3 class="blanco" id="tituloMov">Vendé</h3>

        <form form class="formularioVenta">
            <label for="nombre">Nombre completo</label>
            <input type="text" id="nombre" required/>
            
            <label for="correo">E-mail</label>
            <input type="email" id="correo" required />
        <br />
            
            <label for="telefono">Teléfono</label>
            <input type="number" id="telefono" required />
    
            <label for="precio">Precio</label>
            <input type="number" id="precio" required />
    
    
            
        <br />
    
            <label for="ubicacion">Ubicación</label>
            <input type="city" id="ubicacion" required />
    
        <br />
        
            <label for="asunto">Asunto</label>
            <input type="text" id="asunto" />
    
    
        <br />
            <label for="imagenes">¡Subí tus imagenes!</label>
            <input type="file" id="imagenes">
        <br />
            <textarea maxlength="100" placeholder="Descripción de la propiedad" rows="6" cols="100"></textarea>
        <br />    
            <label>¿Recibir actualizaciones semanales sobre la publicación?</label>
            <input type="checkbox" name="acepta" value="SI" />
               
    
        <br />
            <input type="submit" value="Publicar"/>
            <input type="reset" value="Borrar todo"/>
    
        </form>
        
        <iframe id="mapa" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13137.528426543311!2d-58.40592325!3d-34.59449805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sar!4v1596412885635!5m2!1ses!2sar" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

        </div>
        
        <div class="redes-container">
            <ul>
                <li><a href="https://www.facebook.com/" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://www.instagram.com/" class="instagram"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://twitter.com/" class="twitter"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://ar.pinterest.com/" class="pinterest"><i class="fab fa-pinterest-p"></i></a></li>
                <li><a href="https://ar.linkedin.com/" class="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
        </div>

    </body>
</html>